.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image {
  position: relative;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  overflow: hidden;
}

.img {
  object-fit: cover;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0;
  color: var(--color-white);
  margin: 0;
}

.excerpt {
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 0;
  color: var(--color-text-muted);
}
