.root {
  background: var(--gradient-card);
  border-radius: 16px;
  margin-block: 96px;
  padding-block: 64px;

  @media (width < 1024px) {
    padding-block: 48px;
  }

  @media (width < 768px) {
    padding-block: 40px;
  }

  @media (width < 480px) {
    padding-block: 24px;
  }
}

.inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.5rem;
  margin-inline: auto;

  @media (width < 768px) {
    display: flex;
    flex-direction: column;
    min-height: unset;
  }
}

.imageWrapper {
  grid-column: 1 / 7;
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  overflow: hidden;

  @media (width < 768px) {
    width: 100%;
    aspect-ratio: 4 / 3;
    flex-shrink: 0;
  }
}

.image {
  object-fit: cover;
}

.content {
  grid-column: 8 / 13;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (width < 768px) {
    padding: 40px 32px 48px;
  }
}

.headlineMargin {
  margin-bottom: 24px;
}

.body {
  p {
    text-wrap: balance;
  }

  p:first-child {
    margin-bottom: 16px;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 64px;

  @media (width < 768px) {
    margin-top: 32px;
    flex-direction: column;
    align-items: flex-start;
  }
}
